<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Customer Spending Predictor</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
</head>
<body>
<header>
    <h1>Customer Spending Predictor</h1>
</header>

<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for cat, msg in messages %}
            <div class="alert {{ cat }}">{{ msg }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</main>
</body>
</html>